.image-extraction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .image-extraction__card{
    width: 50%;
  }

  .image-extraction__card .image-extraction__upload--btn{
    margin-top: 30px;
    width: 100px;
    height: 40px;
  }